name: Release

on:
    push:
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js 22.x
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: "npm"

            - run: npm ci
            - run: npm run build

            - name: Create release
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      main.js
                      manifest.json
                      styles.css
